:root {
    --nav-height: 60px
}

html {
    scroll-behavior: smooth;
    scroll-padding: calc(var(--nav-height) + 20px);
    
}

body {
    margin: 0;
    font-size: 18px;
}

h2 {
    position: relative; /*h2:target::after*/
}

h2:target::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    animation-delay: 0s;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-name: target;
}

@keyframes target {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: transparent;
    }
}

.nav {
    background-color: rgb(35, 15, 15);
    padding: 0 20px;
    transition: top .5s ease-in-out;
}

.sticky {
    position: sticky;
    top: 0;
}

.nav ul {
    margin: 0;
    padding: 0;
    min-height: var(--nav-height);
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.nav a {
    color: white;
}

main {
    padding: 10px 20px;
}